
*.o
*.f
*.d
*.crf
*.log
*.txt

# VSCode files
.vscode/

build/
tools/
docs/

Kconfig


components/matter/
components/bk_libs/bk7231n_app/
components/bk_libs/bk7235_app/
components/bk_libs/bk7235_cp1_customization/
components/bk_libs/bk7235_customization/
components/bk_libs/bk7235_harmony/
components/bk_libs/bk7235_matter/
components/bk_libs/bk7236_app/
components/bk_libs/bk723_verify/
components/bk_libs/bk7236a_app/
components/bk_libs/bk7237_app/
components/bk_libs/bk7237_cp1_app/
components/bk_libs/bk7251_app/
components/bk_libs/bk7231n_app/
middleware/soc/bk7231n/
middleware/soc/bk7235/
middleware/soc/bk7235_cp1/
middleware/soc/bk7236/
middleware/soc/bk7236a/
middleware/soc/bk7237/
middleware/soc/bk7237_cp1/
middleware/soc/bk7251/
middleware/soc/bk7271/

middleware/driver/bk7231n/
middleware/driver/bk7235/
middleware/driver/bk7235_cp1/
middleware/driver/bk7236/
middleware/driver/bk7237/
middleware/driver/bk7237_cp1/
middleware/driver/bk7251/
middleware/driver/bk7271/

middleware/boards/bk7231n/
middleware/boards/bk7235/
middleware/boards/bk7235_cp1/
middleware/boards/bk7236/
middleware/boards/bk7236a/
middleware/boards/bk7237/
middleware/boards/bk7237_cp1/
middleware/boards/bk7251/
middleware/boards/bk7271/

include/soc/bk7231n/
include/soc/bk7231u/
include/soc/bk7235/
include/soc/bk7235_cp1/
include/soc/bk7236/
include/soc/bk7236a/
include/soc/bk7237/
include/soc/bk7237_cp1/
include/soc/bk7251/
include/soc/bk7271/

middleware/soc/bk7256/bk7256_bsp.ld
middleware/soc/bk7256/bk7256_bsp.sag

middleware/soc/bk7256_cp1/

projects/customization/bk7235_ble_mesh/
projects/customization/bk7235_config1/
projects/customization/bk7235_config2/
projects/customization/bk7235_config3/



